<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" content="${_csrf.headerName}"/>
        <meta name="_csrf" content="${_csrf.token}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper-1.14.7.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'photos/logo/logo.jpg' %}">
    
        <title>FITBIT REDIRECT</title>
    </head>


    <body onload="fetch_access_token()">
        <div class="container-fluid">
            <!-- head title -->
            <header>
                <h5 class="head text-white text-center p-3">FITBIT ACCESS TOKEN</h5>
            </header>
            {% comment %} <span id="access1">text</span> {% endcomment %}

            <input type="button" onclick="location.href=/dashboard/" value="Get Data" />

        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function fetch_access_token() {
            var url = window.location.href;
            //getting the access token from url 
            var access_token = url.split("#")[1].split("=")[1].split("&")[0]; 
            // get the userid 
            var userId = url.split("#")[1].split("=")[2].split("&")[0]; 
            console.log(access_token); 
            {% comment %} alert(access_token); {% endcomment %}
            console.log(userId);
            $('#access1').text(access_token);
            $('#access_token').val(access_token);
        
            method = "POST"; 
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", "/redirect/");
        
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "productId");
            hiddenField.setAttribute("value", access_token);

            var hiddenField1 = document.createElement("input");
            hiddenField1.setAttribute("type", "hidden");
            hiddenField1.setAttribute("name", "userId");
            hiddenField1.setAttribute("value", userId);
            
            form.appendChild(hiddenField);
            form.appendChild(hiddenField1);
            
            document.body.appendChild(form); 
            form.submit();
        }
        {% comment %} HtmlPage.Window.Invoke("addToCart3"); {% endcomment %}
    
    </script>

</html>



